@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	background-color: $veryLightGray;
}

.offers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 23.438rem;
	height: 83.438rem;
	border-radius: 1.563rem;
	overflow: hidden;
	&__card {
		padding: 14%;
		height: 27.813rem;
		&--one {
			background-color: $brightOrange;
		}
		&--two {
			background-color: $darkCyan;
		}
		&--three {
			background-color: $veryDarkCyan;
		}
	}
	&__img {
		margin-bottom: 10%;
	}
	&__title {
		margin-bottom: 10%;
		font-family: 'Big Shoulders Display', cursive;
		font-size: 3rem;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $transparentWhite;
	}
	&__text {
		margin-bottom: 20%;
		font-family: 'Lexend Deca', sans-serif;
		font-size: 1rem;
		color: $transparentWhite;
	}
	&__btn {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 1rem;
		padding: 0.313rem;
		border: none;
		background: none;
		background-color: $veryLightGray;
		text-decoration: none;
		border-radius: 3.125rem;
		padding: 5% 13%;
		border: 0.188rem solid transparent;
		cursor: pointer;
		&--one {
			color: $brightOrange;
		}
		&--two {
			color: $darkCyan;
		}
		&--three {
			color: $veryDarkCyan;
		}
		&:hover {
			background: none;
			border: 0.188rem solid $transparentWhite;
			color: $transparentWhite;
		}
	}
}

.attribution {
	margin-top: 0.938rem;
	font-size: 0.938rem;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

@media (min-width: 992px) {
	.offers {
		height: 100vh;
	}

	.offer {
		flex-direction: row;
		width: 56.438rem;
		height: 31.25rem;
		&__card {
			padding: 4%;
			width: 18.813rem;
			height: 31.25rem;
		}
		&__img {
			margin-bottom: 20%;
		}
		&__title {
			margin-bottom: 20%;
		}
		&__text {
			margin-bottom: 30%;
		}
	}
}
