@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $veryLightGray;
}

.offers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 375px;
	height: 1335px;
	border-radius: 25px;
	overflow: hidden;
	&__card {
		padding: 14%;
		height: 445px;
		&--one {
			background-color: $brightOrange;
		}
		&--two {
			background-color: $darkCyan;
		}
		&--three {
			background-color: $veryDarkCyan;
		}
	}
	&__img {
		margin-bottom: 10%;
	}
	&__title {
		margin-bottom: 10%;
		font-family: 'Big Shoulders Display', cursive;
		font-size: 3.8em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $transparentWhite;
	}
	&__text {
		margin-bottom: 10%;
		font-family: 'Lexend Deca', sans-serif;
		font-size: 1.7em;
		color: $transparentWhite;
	}
	&__btn {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 1.5em;
		padding: 5px;
		border: none;
		background: none;
		background-color: $veryLightGray;
		border-radius: 50px;
		padding: 5% 13%;
		border: 3px solid transparent;
		cursor: pointer;
		&--one {
			color: $brightOrange;
		}
		&--two {
			color: $darkCyan;
		}
		&--three {
			color: $veryDarkCyan;
		}
		&:hover {
			background: none;
			border: 3px solid $transparentWhite;
			color: $transparentWhite;
		}
	}
}

.attribution {
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

@media (min-width: 992px) {
	.offers {
		height: 100vh;
	}

	.offer {
		flex-direction: row;
		width: 903px;
		height: 500px;
		&__card {
			padding: 4%;
			width: 301px;
			height: 500px;
		}
		&__img {
			margin-bottom: 20%;
		}
		&__title {
			margin-bottom: 20%;
		}
		&__text {
			margin-bottom: 20%;
		}
	}
}
